body {
    background-color: #f5f5dc;
   color: beige;
}

h1 {
    background-color: #80ced6;
   font-family: "Times New Roman", Times, serif;
   font-size: 2.5em;
   text-shadow: 2px 2px 4px #110011;

}

div {
    background-color: #000000;
}

span {
    background-color: #1a7a4f;
}


p.normal {
    font-variant: normal;
   font-weight: bold;
}



a:link {
    color: red;
}


a:visited {
    color: green;
}



ul.a {
    list-style-type: circle;


}

ul.b {
    list-style-type: square;
}

ol.c {
    list-style-type: upper-roman;
}

ol.d {
    list-style-type: lower-alpha;
}




.shadow {
-webkit-box-shadow: 3px 3px 5px 6px #ccc;
-moz-box-shadow:    3px 3px 5px 6px #ccc;
box-shadow:         3px 3px 5px 6px #ccc;
}


.container{
    width:200px;
    height:200px;
    margin:40px auto;
    position:relative;
}

#white{
    perspective: 600px;
}

#white .box{
    background:blue;
    transform: rotateY(30deg);
    -moz- transform: rotateY(30deg);
    -webkit- transform: rotateY(30deg);
    -o- transform: rotateY(30deg);
}


#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#rcorners3 {
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
}



#grad1 {
    height: 55px;
    background: red;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* Standard syntax (must be last) */
}



.radial-gradient {
   width: 120px;
   height: 120px;
   background: repeating-radial-gradient(ellipse farthest-corner,
      red, black 5%, blue 5%, green 10%);
}



#borderimg1 {
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(border.png) 50 round;
    -o-border-image: url(border.png) 50 round;
    border-image: url(border.png) 50 round;
}

#borderimg2 {
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(border.png) 20% round;
    -o-border-image: url(border.png) 20% round;
    border-image: url(border.png) 20% round;
}

#borderimg3 {
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(border.png) 30% round;
    -o-border-image: url(border.png) 30% round;
    border-image: url(border.png) 30% round;
}
